*{
    margin: 0;
}
body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
}


.head{
    text-align: center;
    font-family: "Raleway",sans-serif;
    margin:50px;
}
.midl{
    float: left;
    width: 70%;
} 

.mid1{
    box-shadow: 2px 3px 5px gray;
    margin: 20px;

}
.mid2{
    box-shadow: 2px 3px 5px gray;
    margin: 20px;
}


.content{
    margin:5px;
}


.midr{
    float: right;
    width: 30%;
}


.foot{
    background-color: grey;
    clear: both;
    height: 140px;
    padding: 20px;
    display: block;
}
.btn{
    color:whitesmoke;
    padding: 10px 17px;
    font-size: 17px;
}

.btn1{
    background-color: black;
    color: white;
    padding: 10px 17px;
    margin-bottom: 30px;
    font-size: 17px;
}
.btn1:hover{
    background-color: white;
    color:black;
}




@media screen and (max-width: 720px) {
    .midl, .midr  {
      width: 100%;
    }
  }

  