*{
    margin:0px;
    box-sizing: inherit;
}

/* section landing page css */
.top{
    background: linear-gradient( to right,transparent,rgba(0,0,0,0.8)), url(images/top.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 670px;
}

.nav{
    overflow: hidden;
    background: linear-gradient( to right,transparent,rgba(0,0,0,0.6));
}

.nav a{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    color: #f2f2f2;
}
.nav a:hover{
    color: brown;
}
.nav a.active{
    color: brown;
}
.head{
    text-align: center;
    color:white;
    font-size:18px;
    margin: 100px 140px 30px 700px;
}
.head1{
    color:white;
    margin: 10px 200px 10px 750px;
    font-size: 25px;
    text-align: center;
    font-family: "Leckerli One";
    text-shadow: black 2px 2px 2px;
}
.head2{
    text-align: center;
    margin: 20px 130px 100px 700px;
    color:white;
    font-size:25px;
    font-family: "Ubuntu";
}
.head3{
    margin: 80px 130px 50px 870px;
    font-size: 20px;
    font-family: "Ubuntu",Serif;
    color: white;
}

.btn1{
    padding:10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    background: linear-gradient(transparent, rgba(65, 3, 3, 0.9));
    font-size: 20px;
    font-family: "Ubuntu",sans-serif;
    text-shadow: 2px 2px 2px brown;
}

.btn1:hover{
    background-color:rgba(180, 36, 36, 0.5);
}

/* food coloumn css */
.back{
    background:linear-gradient( to left,transparent,rgba(0,0,0,0.8)), url(images/food.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 670px;
}
.food1{
    color:white;
    font-family: "Ubuntu";
    margin: 200px 800px 10px 30px;
    font-size: 20px;
}
.food2{
    margin: 20px 870px 40px 170px;
    font-size: 20px;
    font-family: "Ubuntu",Serif;
    color: white;

}

.btn2{
    padding:10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    background: linear-gradient(transparent, rgba(65, 3, 3, 0.9));
    font-size: 20px;
    font-family: "Ubuntu",sans-serif;
    text-shadow: 2px 2px 2px brown;
}

.btn2:hover{
    background-color:rgba(158, 117, 117, 0.5);
}

/* wifi column css */
.wifi{
    background: linear-gradient( to left,transparent,rgba(0,0,0,0.9)),url(images/wifi.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 670px;
}

/* footer css */
.footer{
    background:linear-gradient( to left,transparent,rgba(0,0,0,0.5));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 250px;
}

.con{
    color:black;
    margin: 30px 100px 20px;
    padding: 10px;
    float:left;
    width: 20%;
    font-size:20px;
}
.con1{
    float:left;
    padding: 20px;
    color:black;
    width: 60%;
}

.con1 a{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    color: black;
}

@media only screen and (max-device-width: 1200px) {
    .top, .back, .wifi, .footer {
      background-attachment: scroll;
    }
  }