.circle{
    margin:20pxpx;
    height:400px;
    width:400px;
    background-color:yellow;
    border:2px solid black;
    border-radius:400px;
    box-shadow: orange 3px 3px 50px;
}
.e1{
    height:60px;
    width:60px;
    background-color: black;
    border-radius:50px;
    box-shadow: gray 2px 3px 5px;
    margin:140px 300px 0px 100px;
    float:left;
}

.e2{
    height: 60px;
    width:60px;
    background-color: black;
    border-radius:50px;
    margin: 140px 240px 0px;
    box-shadow: gray 2px 3px 5px;
}

.smile{
    width:100px;
    height:50px;
    background-color: red;
    border-bottom-left-radius: 60px ;
    border-bottom-right-radius: 60px;
    border: 5px solid black;
    border-top: 0;
    text-align: center;
    margin: 100px 145px;
    box-shadow: orangered 1px 1px;
}