body{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 50px;
}

h2{
    text-align:center;
    background-color: black;
    color:white;
    padding: 51px 10px;
    font-size: 50px;
}

form{
    font-size: 20px;
}

th{
    background-color:whitesmoke;
}
tr{
    text-align:center;
}
.button{
    text-align:center;
    background-color: black;
    color: white;
    padding: 10px 204px;
    border: 1px solid rgb(17, 19, 17);
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: red;
    color:black;
}